<html>
    <header>
        <link rel="stylesheet" href="layouts.css">
        <link rel="stylesheet" href="styles.css">

        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    </header>
    <body>
        <div id="app">
            <navbar></navbar>
            <div id="app-content" class="stack">
                <img id="avatar-pic" src="assets/imgs/no.jpg">
                <terminal></terminal>
                <div id="canvas"></div>
            </div>
        </div>
    </body>
    <script>
        let FEEDBACKS = [
            '(╯°□°）╯︵ ┻━┻'
        ];

        const app = Vue.createApp({});

        app.component('navbar', {
            template: `
            <div id="app-navbar">
                <ul id="app-navbar-content">
                    <li>
                        <a id="app-navbar-title" href="#index.html">ERICKR.DEV</a>
                    </li>
                    <li>
                        <div id="navbar-locales-menu">
                            <button id="locale-en" class="locale-button">EN</button>
                            <button id="locale-pt" class="locale-button">PT</button>
                            <button id="locale-fr" class="locale-button">FR</button>
                        </div>
                    </li>
                </ul>
            </div>
            `
        })

        app.component('terminal', {
            template: `
            <div id="terminal">
                <div id="terminal-top-bar">
                    <button @click="collapsed = !collapsed">-</button>
                </div>
                <div id="terminal-content" v-if="!collapsed">
                    <div id="stdout-content" class="stack stack-stdout" v-if="mode === 'stdout'" @click="focusInput">
                        <p v-for="line in stdout">
                            {{line}}
                        </p>
                        {{cmdPrefix}}<input id="cmd" autofocus v-model="cmd" @keyup.enter="executeCommand"/>
                    </div>
                    <gui v-if="mode === 'gui'" :quit="this.quitCli"></gui>
                </div>
            </div>
            `,
            data() {
                return {
                    mode: 'stdout',
                    cmdPrefix: '$ ',
                    cmd: null,
                    collapsed: false,
                    stdout: [],
                    feedbacksIndex: 0
                }
            },
            mounted() {
                let typed = new Typed('#cmd', {
                    strings: [ 'echo $ABOUT_ME' ],
                    typeSpeed: 20,
                    showCursor: true,
                    onComplete: (self) => {
                        this.focusInput();
                        this.cmd = 'echo $ABOUT_ME';
                        document.getElementById("cmd").dispatchEvent (new KeyboardEvent ('keyup', {
                            key: 'enter',
                            keyCode: 13
                        }));
                    }
                })
            },
            methods: {
                focusInput() {
                    document.getElementById("cmd").focus();
                },
                executeCommand() {
                    console.log("Executing command: " + this.cmd);

                    this.stdout.push(this.cmdPrefix + this.cmd);

                    switch (this.cmd) {
                        case 'echo $ABOUT_ME':
                            this.stdout.push('Howdie! Welcome to my little corner on the internet! My name is Erick and I\'m a computer scientist who loves everything-software!');
                            break;
                        case 'whoami':
                            this.stdout.push('Erick Rocha');
                            break;
                        case 'ls':
                            break;
                        case 'clear':
                            this.stdout.length = 0;
                            break;
                        case '?':
                            break;
                        case '.':
                            this.mode = 'gui';
                            break;
                        default:
                            this.stdout.push(FEEDBACKS[this.feedbacksIndex % FEEDBACKS.length]);
                            this.feedbacksIndex += 1;
                            break;
                    }

                    this.cmd = '';
                },
                quitCli() {
                    this.mode = 'stdout';
                    console.log("quitting CLI mode");
                }
            }

        })

        app.component('gui', {
            template: `
            <div id="gui" class="stack">
                <div id="gui-title-bar">
                    <h1>ABOUT ME</h1>
                </div>
                <div id="gui-content">
                    <ul class="stack stack-gui-menu-items" v-if="selected === 'projects'">
                        <li>
                            <a @click="selected = 'pomodoro'">POMODORO CLI</a>
                        </li>
                        <li>
                            <a @click="selected = null">BACK</a>
                        </li>
                    </ul>
                    <ul class="stack stack-gui-menu-items" v-else>
                        <li>
                            <a @click="selected = 'xp'">PROFESSIONAL EXPERIENCE</a>
                        </li>
                        <li>
                            <a @click="selected = 'projects'">PROJECTS</a>
                        </li>
                        <li>
                            <a @click="selected = null">RESET</a>
                        </li>
                        <li>
                            <a @click="quit">EXIT</a>
                        </li>
                    </ul>
                </div>
                <teleport to="#canvas">
                    <transition name="pomodoro-animation">
                        <h1 class="canvas-title" v-if="selected === 'pomodoro'">POMODORO</h1>
                    </transition>
                    <projects-pomodoro v-bind:show="selected === 'pomodoro'"></projects-pomodoro>
                    <transition name="timeline-animation">
                        <timeline v-bind:show="selected === 'xp'"></timeline>
                    </transition>
                </teleport>
            </div>
            `,
            props: [ "quit" ],
            data() {
                return {
                    selected: null,
                }
            }
        })

        app.component('timeline', {
            template: `
            <div v-if="show">
                <h1 class="canvas-title">PROFESSIONAL EXPERIENCE</h1>
                <ul id="timeline">
                    <!-- row 1 -->
                    <li class="stem-node stem-node-1"></li>
                    <!-- row 2 -->
                    <li class="stem stem-1"></li>
                    <li
                        id="bigdata-1-experience"
                        class="timeline-item-1 timeline-item-right"
                    >
                        <div>
                            <p>May 2013 - Sep 2016</p>
                            <p>@BigDataCorp</p>
                        </div>
                    </li>
                    <!-- row 3 -->
                    <li class="stem-node stem-node-2"></li>
                    <!-- row 4 -->
                    <li class="stem stem-2"></li>
                    <li class="timeline-item-2 timeline-item-left">
                        <div>
                            <p>Nov 2017 - Nov 2018</p>
                            <p>@BiguTech</p>
                        </div>
                    </li>
                    <!-- row 5 -->
                    <li class="stem-node stem-node-3"></li>
                    <!-- row 6 -->
                    <li class="stem stem-3"></li>
                    <li class="timeline-item-3 timeline-item-right">
                        <div>
                            <p>Aug 2018 - Aug 2019</p>
                            <p>@UFRJ/Siemens</p>
                        </div>
                    </li>
                    <!-- row 7 -->
                    <li class="stem-node stem-node-4"></li>
                    <!-- row 8 -->
                    <li class="stem stem-4"></li>
                    <li class="timeline-item-4 timeline-item-left">
                        <div>
                            <p>Jan 2019 - current</p>
                            <p>@BigDataCorp</p>
                        </div>
                    </li>
                </ul>
            </div>
            `,
            props: [ "show" ]
        })

        app.component('projects-pomodoro', {
            template: `
            <div v-if="show">
                <p>POMODORO LOGO GOES HERE</p>
                <a href="https://github.com/ErickRDev/rusty-tomato">Repository</a>
                <p>Ipsum dolor..</p>
            </div>
            `,
            props: [ "show" ]
        })

        const vm = app.mount("#app");

    </script>
</html>