:root {
    --terminal-size: 40ch;
    --terminal-background: #000;
    --color-6: #0C0E0C;
    --color-5: #191919;
    --color-4: #2D2D2D;
    --color-3: #3B444F;
    --color-2: #303A48;
    --color-1: #252D3B;
}

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

#app {
    margin-left: auto;
    margin-right: auto;
    max-width: 80ch;
}

#intro {
    text-align: center;
}

#intro h1 {
    margin-bottom: 0;
}

#avatar-pic {
    margin-left: auto;
    margin-right: auto;
    width: min(30vw, 160px);
    border-radius: min(30vw, 150px);
}

#terminal-top-bar {
    border: none;
    background-color: var(--color-5);
    min-height: calc(var(--terminal-size) * 0.05);
    display: flex;
    flex-direction: row-reverse;
}

#terminal-top-bar > button {
    border: none;
    border-radius: 80%;
    border-color: var(--color-6);
    background-color: var(--color-6);
    color: white;
}

#terminal-content {
    background-color: var(--color-6);
    min-height: var(--terminal-size);
    font-size: 0.8rem;
    padding: 1px;
    color: white;
    box-shadow: 5px 5px 5px rgb(138, 132, 132);
}

#terminal-content * {
    color: inherit;
    background-color: inherit;
}

#stdout-window {
    min-height: inherit;
}

#cmd {
    border: inherit;
    font-size: inherit;
}

#gui-window > ul {
    padding: 0;
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

#gui-window > ul > li > button {
    width: 100%;
    border: none;
}

#cmd:focus {
    outline: none;
}

#pomodoro-title {
    text-align: center;
}

.pomodoro-animation-enter-active {
    transition: all 1s ease 0s;
}

.pomodoro-animation-enter-from {
    transform: translateY(-5ch);
}

.stem {
    margin-left: auto;
    margin-right: auto;
    max-width: 0.5ch;
    min-height: 10ch;
    border-left: 0.5ch solid black;
}