:root {
    --color-6: #0C0E0C;
    --color-5: #191919;
    --color-4: #2D2D2D;
    --color-3: #3B444F;
    --color-2: #303A48;
    --color-1: #252D3B;

    --terminal-size: 40ch;
    --terminal-background: var(--color-6);

    --ratio: 1.61803398875;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

#app-navbar {
    overflow: hidden;
    background-color: var(--color-6);
    color: white;
}

#app-navbar * {
    background-color: inherit;
    color: inherit;
}

#app-navbar-content {
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
}

#app-navbar-content > li:nth-child(1) {
    grid-column-start: 2;
}

#app-navbar-content > li:nth-child(2) {
    margin-left: auto;
    margin-right: 1rem;
    align-self: center;
}

#app-navbar-title {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
}

.locale-button {
    border: none;
    border-radius: 100%;
}

#app-content {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80ch;
}

#intro {
    text-align: center;
}

#intro h1 {
    margin-bottom: 0;
}

#avatar-pic {
    margin-left: auto;
    margin-right: auto;
    width: min(30vw, 160px);
    border-radius: min(30vw, 150px);
}

#terminal-top-bar {
    border: none;
    background-color: var(--color-5);
    min-height: calc(var(--terminal-size) * 0.05);
    display: flex;
    flex-direction: row-reverse;
}

#terminal-top-bar > button {
    border: none;
    border-radius: 80%;
    border-color: var(--terminal-background);
    background-color: var(--terminal-background);
    color: white;
}

#terminal-content {
    min-height: var(--terminal-size);
    /* font-family: 'Bebas Neue', cursive; */
    font-size: 0.8rem;
    background-color: var(--terminal-background);
    color: white;
    box-shadow: 5px 5px 5px rgb(138, 132, 132);
    display: flex;
    padding: var(--s-3);
}

#terminal-content * {
    color: inherit;
    background-color: inherit;
}

#cmd {
    border: inherit;
    font-size: inherit;
}

#stdout-content {
    flex-grow: 1;
}

#gui {
    flex-grow: 1;
}

#gui-title-bar {
    text-align: center;
}

#gui-content {
    flex-grow: 1;
    justify-content: center;
}

#gui-content > ul {
    padding: 0;
    list-style-type: none;
    align-items: center;
}

#gui-content > ul > li > a {
    cursor: pointer;
}

#gui-content > ul > li > a:hover {
    background-color: white;
    color: black;
}

#cmd:focus {
    outline: none;
}

.canvas-title {
    text-align: center;
}

.pomodoro-animation-enter-active {
    transition: all 1s ease 0s;
}

.pomodoro-animation-enter-from {
    transform: translateY(-5ch);
}

.stem {
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 0.5ch;
    min-height: 10ch;
    border-left: 0.4ch solid black;
}

.stem-node {
    display: block;
    border: 0.4ch solid black;
    border-radius: 100%;
}

.stem-node > button {
    background-color: white;
    color: var(--color-6);
    border-style: dotted;
    border-radius: 100%;
}

.stem-node-1 {
    grid-row: 1/1;
    grid-column: 2/2;
}

.stem-1 {
    grid-row: 2/2;
    grid-column: 2/2;
}

.stem-node-2 {
    grid-row: 3/3;
    grid-column: 2/2;
}

.stem-2 {
    grid-row: 4/4;
    grid-column: 2/2;
}

.stem-node-3 {
    grid-row: 5/5;
    grid-column: 2/2;
}

.stem-3 {
    grid-row: 6/6;
    grid-column: 2/2;
}

.stem-node-4 {
    grid-row: 7/7;
    grid-column: 2/2;
}

.stem-4 {
    grid-row: 8/8;
    grid-column: 2/2;
}

.timeline-animation-enter-active {
    transition: all 1s ease 0s;
    opacity: 1;
}

.timeline-animation-enter-from {
    opacity: 0;
}

#timeline {
    margin-top: 2rem;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 10px 2fr 10px 2fr 10px 2fr 10px 2fr;
}

.timeline-item-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.timeline-item-left:hover {
    transform: translateX(-2px);
    border: 1px solid black;
    box-shadow: 10px -5px 21px 0px #76776B;
    /* background-color: var(--color-6);
    color: white; */
    justify-content: center;
}

.timeline-item-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.timeline-item-right:hover {
    transform: translateX(2px);
    border: 1px solid black;
    box-shadow: -10px -5px 21px 0px #76776B;
    background-color: var(--color-6);
    color: white;
    justify-content: center;
}

.timeline-item-1 {
    grid-row: 2/2;
    grid-column: 3/3;
}

/* .timeline-item-1:hover {
    transform: ;
} */

.timeline-item-2 {
    grid-row: 4/4;
    grid-column: 1/1;
}

.timeline-item-3 {
    grid-row: 6/6;
    grid-column: 3/3;
}

.timeline-item-4 {
    grid-row: 8/8;
    grid-column: 1/1;
}